@charset "utf-8";

/* ---------- common ---------- */

:root {
  --background-color: #FFFAE8;
  --section-color: #FFFEF9;
  --theme-color: #FFE486;
  --h2-color: #FFD226;
  --gray-color: #555;
  --font-english: 'Quicksand', sans-serif;
  --font-japanese: 'IBM Plex Sans JP', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-english);
  color: var(--gray-color);
}

body * {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

dl,
dd {
  margin: 0;
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
}

.description {
  font-family: var(--font-japanese);
  font-size: 14px;
  letter-spacing: .1rem;
}

/* ---------- Intersection Observer ---------- */

.target {
  transition: transform .3s, opacity 1s;
  opacity: 0;
  transform: translateY(50px);
}

.target.up {
  opacity: 1;
  transform: translateY(0);
}

/* ---------- loader ---------- */

.loader {
  height: 100vh;
  background: var(--section-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader .egg {
  width: 14px;
  height: 14px;
  margin-left: 16px;
  border-radius: 50%;
  outline: 1px solid var(--gray-color);
  background-color: var(--theme-color);
  animation: jump .7s infinite linear;
}

.loader p {
  letter-spacing: .2rem;
}

header {
  display: none;
}

main {
  display: none;
}

/* ---------- parallax ---------- */

.background {
  background: var(--background-color);
  background-image: url('images/pattern.png');
  z-index: -1;
}

/* ---------- modal ---------- */

.modal-cover {
  background: var(--background-color);
  opacity: .8;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity .2s;
}

.modal {
  width: 720px;
  padding: 48px;
  background: var(--section-color);
  outline: 1px solid var(--gray-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  z-index: 3;
  opacity: 0;
  transition: opacity .2s;
}

figure {
  display: flex;
  align-items: center;
  gap: 48px;
}

.modal img {
  width: 320px;
}

.modal .bi-x-circle {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 20px;
  cursor: pointer;
}

span.information {
  display: block;
  margin-top: 16px;
  font-size: 11px;
  font-weight: 500;
}

/* ---------- header ---------- */

header {
  position: relative;
  height: 100vh;
  background: var(--section-color);
  text-align: center;
}

header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0;
}

header .subtitle {
  display: block;
  font-family: var(--font-japanese);
  font-weight: normal;
  font-size: 14px;
  letter-spacing: .2rem;
}

header path {
  fill: white;
  stroke: white;
  stroke-width: 1;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: appear-logo 1.5s forwards linear;
}

header nav {
  position: absolute;
  right: 36px;
  bottom: 36px;
  z-index: 1;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .2rem;
  transition: opacity .5s;
}

header ul {
  display: flex;
  align-items: flex-end;
}

header ul a {
  width: 100px;
  height: 100px;
  outline: 1px solid var(--gray-color);
  border-radius: 50%;
  background: var(--theme-color);
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(-500px);
  animation: drop .5s forwards ease-out;
}

header ul a+a {
  margin-left: 36px;
}

header ul a:nth-child(1) {
  animation-delay: 1.5s;
}

header ul a:nth-child(2) {
  animation-delay: 1.7s;
}

header ul a:nth-child(3) {
  animation-delay: 1.9s;
}

header nav.transparent {
  opacity: 0;
}

header nav.fixed {
  position: fixed;
  top: 0;
  right: 36px;
  opacity: 1;
  font-size: 13px;
  letter-spacing: 0.15rem;
}

header nav.fixed ul {
  flex-direction: column;
}

header nav.fixed a {
  width: 80px;
  height: 80px;
  margin-top: 16px;
  line-height: 80px;
}

header .icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--theme-color);
  outline: 1px solid var(--gray-color);
  position: fixed;
  top: 16px;
  left: 16px;
  font-size: 24px;
  line-height: 36px;
  z-index: 5;
  cursor: pointer;
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
}

header .hamburger {
  transform: translateY(-20px);
}

/* header .hamburgerClose {
  opacity: 1;
  visibility: visible;
} */

header .hamburger.appear {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

header .hamburgerClose.appear {
  opacity: 1;
  visibility: visible;
}

/* ---------- section common ---------- */

section {
  margin-top: 200px;
  padding: 56px 0 112px;
  background: var(--section-color);
}

section .container {
  max-width: 960px;
  margin: 0 auto;
}

section h2 {
  margin-bottom: 64px;
  text-align: center;
  font-size: 48px;
  color: var(--h2-color);
  line-height: 1;
  letter-spacing: .3rem;
}

/* ---------- about ---------- */

.about .dl-box {
  display: flex;
  align-items: center;
  gap: 48px;
}

.about .dl-box+.dl-box {
  margin-top: 68px;
}

.about dl {
  padding: 0 96px;
}

.about dt {
  padding: 8px;
  background: var(--background-color);
  border: 1px solid var(--gray-color);
  text-align: center;
  flex: 1;
  font-weight: 500;
}

.about dd {
  flex: 5;
}

/* ---------- works ---------- */

.works .contents {
  width: 640px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px;
}

.works .content {
  width: 144px;
  height: 144px;
  outline: 1px solid var(--gray-color);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.works .content img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.works .content-cover {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 250, 232, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s;
}

.works .content-cover.appear {
  width: 100%;
  height: 100%;
}

.works .content-title {
  width: 100%;
  padding: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  text-align: center;
  opacity: 0;
  font-size: 12px;
  font-weight: 500;
  transition: all .3s;
}

.works .content-title.appear {
  opacity: 1;
  transform: translate(-50%, -50%);
}

/* ---------- contact ---------- */

.contact .twitter-box {
  padding: 128px 0;
}

.contact .twitter-box a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.contact .bi-twitter {
  font-size: 32px;
}

.contact address {
  font-style: normal;
}

/* ---------- animation ---------- */

@keyframes jump {
  50% {
    transform: translateY(-16px);
  }
  80% {
    transform: translateY(0) scale(1, .8);
    border-radius: 50%;
  }
  100% {
    transform: scale(1.8, .5);
    border-radius: 50% 50% 8% 8%;
  }
}

@keyframes appear-logo {
  80% {
    fill: white;
    stroke: black;
    stroke-dashoffset: 0;
  }
  100% {
    fill: black;
  }
}

@keyframes drop {
  0% {
    transform: translateY(-200px) scale(.8, 1.4);
  }
  30% {
    transform: translateY(0) scale(1, 1);
  }
  50% {
    transform: translateY(20px) scale(1.6, .7);
  }
  70% {
    transform: translateY(0) scale(1.4, .8);
  }
  80% {
    transform: translateY(0) scale(1.2, .9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1, 1);
  }
}

/* -------------------- tablet -------------------- */

@media (max-width: 1024px) {
  
}

/* -------------------- mobile -------------------- */

@media (max-width: 599px) {

  /* ---------- modal ---------- */

  .modal {
    width: 90%;
    padding: 24px 16px;
    text-align: center;
  }

  figure {
    display: block;
  }

  .modal img {
    width: 90%;
  }

  figcaption {
    margin-top: 16px;
    text-align: left;
  }

  .bi-x-circle {
    top: 8px;
    right: 8px;
  }

  /* ---------- header ---------- */

  header svg {
    width: 300px;
    height: 75px;
  }

  header .subtitle {
    margin-top: 8px;
    font-size: 12px;
  }

  header nav {
    width: 100%;
    left: 0;
    bottom: 36px;
  }
  
  header ul {
    padding: 0 36px;
    align-items: center;
    gap: calc((100% - 80px * 3) / 2);
  }
  
  header ul a {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }

  header ul a+a {
    margin-left: 0;
  }

  header nav.mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: rgba(255, 250, 232, 0.9);
  }
  
  header nav.mobile ul {
    flex-direction: column;
    margin-top: 48px;
  }
  
  header nav.mobile a {
    width: 50%;
    outline: none;
    border-radius: 0;
    background: none;
    text-align: center;
    cursor: pointer;
  }

  header nav.mobile a+a {
    border-top: 1px solid var(--gray-color);
  }

  /* ---------- section common ---------- */

  section {
    padding: 56px 0 72px;
  }

  /* ---------- about ---------- */

  .about .dl-box {
    display: block;
  }
  
  .about .dl-box+.dl-box {
    margin-top: 48px;
  }
  
  .about dl {
    padding: 0 16px;
  }

  .about dt {
    margin-bottom: 16px;
  }

  /* ---------- works ---------- */

  .works .contents {
    width: 100%;
    gap: 48px;
  }

}